@import "../../node_modules/bootstrap/scss/bootstrap";

.user-panel {
  color: white;
  
  .nav-link {
    color: white !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
  }
}